body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100%;
}

.width-1 {
    padding: 20px 80px;
}

/**************** Header *****************/
header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: #000;
}

header nav {
    display: inherit;
    justify-content: space-between;
    
}

header nav ul {
    display: inherit;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    header {
        padding: 20px 0px;
    }
}

/***************** Main *****************/
main {
    display: flex;
    flex-direction: column;
}

section.content {
    margin: 20px 0;
    background-color: #f4f4f4;
}

@media only screen and (min-width: 600px) {
    section.content {
        padding: 20px 80px;
    }
}

/**************** Footer *****************/
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #000;
}

footer .footer-column {
    display: inherit;
    flex-direction: column;
}

footer .footer-column a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

footer .footer-column a:hover {
    text-decoration: underline;
}