.content {
    display: flex;
    flex-direction: column;
}

.content img, 
.content .content-text {
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .content {
        flex-direction: row;
    }
}

h1, p {
    color: #666;
}

p {
    color: red;
}